<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
        <link rel="stylesheet" href="{{ asset('page.custom.css') }}?v=1">
    {% endblock %}
</head>
<body class="{% block body_class %}bg-light{% endblock %}">

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">У</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 mr-auto" action="{{ path('page_home') }}">
                <div class="input-group mr-sm-2">
                    {% if app.request.query.get('author') %}
                        <input type="hidden" name="author" value="{{ app.request.query.get('author') }}">
                    {% endif %}
                    {% if app.request.query.get('category') %}
                        <input type="hidden" name="category" value="{{ app.request.query.get('category') }}">
                    {% endif %}
                    {% if app.request.query.get('country') %}
                        <input type="hidden" name="country" value="{{ app.request.query.get('country') }}">
                    {% endif %}
                    <input type="text" name="search" class="form-control" id="inlineFormInputGroup" placeholder="Поиск" value="{{ app.request.query.get('search') }}">
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                </div>
            </form>
            <div class="navbar-nav ml-auto">
                <div class="nav-item active">
                    <a class="nav-link" href="#">Домик</a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Страны
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for country in widget_search.findAllCountries %}
                            <a class="dropdown-item {% if country.code == widget_search.country %}active{% endif %}"
                               href="{{ widget_search.generateRoute('country', country.code) }}">
                                <span class="flag-icon flag-icon-{{ country.code|lower }}"></span>
                                {{country.name}}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Категории
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in widget_search.findAllCategories %}
                            <a class="dropdown-item {% if category.id == widget_search.category %}active{% endif %}"
                               href="{{ widget_search.generateRoute('category', category.id) }}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            {% block main %}{% endblock %}
        </div>
        <div class="col-xs-12 col-md-4">
            {% block aside %}{% endblock %}
        </div>
    </div>
</div>

{% block js %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>