{% extends 'admin/layout.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message|trans() }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="m-0 font-weight-bold text-primary">Коментарии для {{ post.name }}</h4>
        </div>
        <div class="card-body">
            {% for comment in post.comments.toArray %}
                <div class="p-3 mb-3 border border-secondary rounded">
                    Статус:
                    {% if comment.visible %}
                        <span class="badge badge-pill badge-success">Опубликован</span>
                    {% else %}
                        <span class="badge badge-pill badge-dark">Скрыт</span>
                    {% endif %} <br>
                    Автор: {{ comment.author.username }} <br><br>
                    {{ comment.content }}
                    <div class="d-flex justify-content-start mt-3">
                        <div>
                            {% if comment.visible %}
                                <a class="btn btn-sm btn-light" href="{{ path('admin_post_comment_toggle', {'comment': comment.id}) }}">Скрыть</a>
                            {% else %}
                                <a class="btn btn-sm btn-light" href="{{ path('admin_post_comment_toggle', {'comment': comment.id}) }}">Показать</a>
                            {% endif %}
                        </div>
                        <div class="ml-3">
                            <a class="btn btn-sm btn-danger" href="{{ path('admin_post_comment_remove', {'comment': comment.id}) }}">Удалить</a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}